#!/bin/bash

data_dir="../../data"
size_len=128
echo $data_dir

python3 sample_image.py $data_dir
python3 msk2png.py $data_dir
python3 msk_resize.py $data_dir $size_len
python3 label_preprocess.py $data_dir $size_len
python3 ../gen_list_script/gen_train_list.py $data_dir $size_len
