# batch size
batch_size: 1

# feature dimension for reading the image
feature_row: 256
feature_col: 256
feature_ph_row: 224
feature_ph_col: 224
feature_cha: 3

# the cropped image dimension as the input for the network

label_row: 256
label_col: 256

# the cropped image size as the input for the network
label_ph_row: 224
label_ph_col: 224

label_cha: 1

mask_row: 256
mask_col: 256
mask_ph_row: 224
mask_ph_col: 224
mask_cha: 1

leaky_param:0.01
weight_decay:0.0004

data_arg.feature.rflip_leftright: True
data_arg.feature.rcrop_size: [224, 224]
data_arg.feature.rbright_max:0.2
data_arg.feature.rcontrast_lower:0.5
data_arg.feature.rcontrast_upper:1.5
#data_arg.feature.rhue_max:0.2
#data_arg.feature.rsat_upper:1.5
#data_arg.feature.rsat_lower:0.5


data_arg.label.rflip_leftright: True
data_arg.label.rcrop_size: [224, 224]

data_arg.mask.rflip_leftright: True
data_arg.mask.rcrop_size: [224, 224]

train_file_name:../file_list/train_list1.txt
test_file_name:../file_list/test_list1.txt

model_def_name: vgg_atrous_model2

init_learning_rate: 0.0001
max_training_iter:10
test_per_iter:50
save_per_iter: 200
train_log_dir:logs/
model_dir:models/
restore_model:False


#st_len: 50
#iheight: 64
#iwidth: 64
#code_len: 100
#init_learning_rate: 0.00002
#max_training_iter:1000000
#train_log_dir:st_gan_log
#file_name:file_list/train_list1.txt
#model_dir:model/
#model:model
#restore_model:False
#g_iter:2
#d_iter:1
